/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;

// Code blocks
$code-block-bg-alpha: -.8;


div.callout-note.callout {
    border-left-color: white;
}

div.callout-note.callout-style-default>.callout-header {
    background-color: rgba(0,0,0,0.025);
}