/* css styles */

footer {
    background-color: var(--bs-primary);
}

/* Make card images zoom on hover*/
 .card-img-top{
    overflow: hidden;
}

.card-img-top img {
    transition: transform 0.8s;
}

.g-col-1:hover img {
    transform: scale(1.25);
}

.post-contents {
    max-height: 170.27px;
}
/* code adapted from:  */
/* end section */


span.navbar-title {
    transition: transform 0.8s;
}

span.navbar-title:hover {
    transform: scale(1.5);
}

svg.logo path {
    fill: none;
    max-width: 250;
    max-height: auto;
    stroke-width: 4px;
    overflow: visible;
    stroke: var(--bs-warning);
    d: path("M-51-19C-49-8-28-3-24-2-20-1-6 0 0 0 24 0 40-8 48-32Q56-64 40-88C39-89 37-92 32-92 28-92 24-91 22-88 20-85 21-80 22-78 23-76 25-75 28-74 32-73 37-73 40-76 50-84 52-88 60-92 64-94 70-94 74-92 78-90 80-88 82-84 84-78 83-75 80-72 76-68 70-65 64-62 57-58 56-49 56-44 56-39 59-29 61-26 65-19 70-14 74-11 79-7 86 0 108 0 122 0 130-6 132-8 134-10 140-15 144-24 148-35 150-42 150-50 150-58 150-70 148-76 146-81.3334 142-90 132-92 122-94 116-92 112-88 108-84 106-78 108-72 110-66 114-62 126-60 138-58 154-58 170-64 188-70 200-82 210-98 217-109 219-116 221-126")
}

svg {
    overflow: visible;
}