/* css styles */

/* Make card images zoom on hover*/
  .card-img-top{
    overflow: hidden;
    border-radius: 18px;
}

.card-img-top img {
    transition: transform 0.8s;
}

/* @keyframes RadicalRadii {
    50% {border-radius: 5px;}
    100% {border-radius: 18px;}
}

.g-col-1:hover .card-img-top {
    animation-name: RadicalRadii;
    animation-duration: 0.5s;
    animation-fill-mode: forward;
}

.g-col-1:hover .quarto-listing div {
    animation-name: RadicalRadii;
    animation-duration: 0.5s;
} */

.g-col-1:hover img {
    transform: scale(1.25);
}
/* End section */

/* SVG Logo With Animation */
svg.logo path {
    fill: none;
    overflow: visible;
    stroke: rgba(255,255,255,.7);
    stroke-width: 2;
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
    animation: draw 2.5s linear forwards;
    d: path("M-116-126C-116-94-118-31-109 1-99 42-83 63-62 81-49 93-30 103-10 103 14 103 30 95 38 71Q46 39 29.927 15.408C29 14 27 11 21.642 10.618 17.841 10.238 14 12 12 15 10 18 9.783 22.63 11.455 25.062 12.899 27.267 14.724 28.483 17.765 29.319 22 30 23.846 29.699 28.255 27.039 40 19 42 15 50 11 54 9 60 9 64 11 68 13 70 15 72 19 74 25 73 28 70 31 66 35 60 38 54 41 47 45 46 54 46 59 46 64 49.009 73.411 51.061 76.984 55 84 60 89 64 92 69 96 76 103 98 103 112 103 120 97 122 95 124 93 130 88 134 79 138 68 140 61 140 53 140 45 140 33 138 27 136 21.6666 132 13 122 11 112 9 106 11 102 15 98 19 96 25 98 31 100 37 104 41 116 43 128 45 144 45 160 39 178 33 190.242 25.396 201 6 205.333-1.489 209-13 211-23Q215.994-45.639 217.126-66.771C218-84 219-93 219-119")
}

@keyframes draw {
    to  {
        stroke-dashoffset: 0;
    }
}

div.navbar-brand-container:hover path {
    stroke: rgba(255,255,255,.8);
}

svg.logo{
    overflow: visible;
}

.navbar-title {
    overflow: visible;
    padding: 25px;
}

.navbar-brand {
    overflow: visible;
    padding: 15px;
}
/* End section */


/* Inverted navbar border curve  */
#quarto-header::before  {
    content: "";
    position: absolute;
    background-color: #0074d900;
    bottom: -36px;
    height: 36px;
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0 -18px 0 0 #593196;
}

footer.footer {
    content: "";
    position: absolute;
    background-color: #0074d900;
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0 -18px 0 0 #593196;
}
/* Citation: https://itnext.io/how-to-make-a-fancy-inverted-border-radius-in-css-5db048a53f95 */
/* End section */


/* Code to change background format */

/* Citation: https://bgjar.com/ free svg generater */
/* End section */

/* code to restyle listing categories */

.quarto-title .quarto-categories .quarto-category {
    border-radius: 0.75rem !important;
    transition: all 0.25s;
}

.quarto-title .quarto-categories .quarto-category:hover {
    background-color: #593196;
    color: aliceblue;
    transform: scale(1.1);
}

.quarto-listing div {
    border-radius: 18px;
}

.quarto-listing span {
    border-top-left-radius: 18px !important;
    border-bottom-left-radius: 18px !important;
}

.quarto-listing select {
    border-top-right-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
}

.quarto-grid-item .listing-categories .listing-category {
    border-radius: 0.75rem !important;
    transition: all 0.25s;
}

.quarto-grid-item .listing-categories .listing-category:hover {
    background-color: #593196;
    color: aliceblue;
    transform: scale(1.1);
}

/* End Section */

/* Change Button Style */

input::-webkit-file-upload-button {
    border-radius: 0.9rem;
    border-color: #593196;
    color: #593196;
    background-color: white;
    transition: all 0.25s;
}

input::-webkit-file-upload-button:hover {
    color: white;
    background-color: #593196;
}

/* End Section */

div.callout.callout-style-default.callout-note.callout-titled {
    border-radius: 18px;
    border-left: 1px solid rgba(0,0,0,.05);
}

div.callout-header.d-flex.align-content-center {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-color: rgba(0,8,66,1);
}


div.sourceCode {
    border-radius: 18px;
}